.background{
    background-color:#86c46cc5;
    margin: auto;
    height:670px;
    width: 98%;
    margin-top: 2%;
    border-radius: 15px;
   
    overflow-y: scroll;
}
.background::-webkit-scrollbar{
    display: none;
}
.info-Table{
    color: white;
    overflow-x: scroll;
    overflow-wrap: break-word;
    
}

